
.selectedPage{
color: red ;
font-weight: bold;

}
.pageNumber{
    text-align: center;
    padding: 8px 16px;
    margin: 5px;
    color: black;
    cursor: pointer;
    display:inline-block;
    border: 2px solid black; 
    border-radius: 10%;
    
}

.paginator {
    margin: 40px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: red;
}
