*{
    padding: 0;
    margin: 0;
}
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}
.messages {
    padding: 10px;
    display: table;

}
.messages .message {
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.person{
    color: black;
}
.person.activeDialog{
    color: red;
}
.text{
    height: 40px;
    width: 450px;
    resize: none;
}
.textButtonArea{
margin-top: 20px;
}
